<input id="modalTitle" type="hidden" value="<%=(data.title || data.name)%>">
<%

/* HELPER FUNCTIONS */

function printSocial(social, icon, title) {
    if (social) { 
        %>
<a href="<%=social%>" target="_blank" rel="noopener"><i class="<%=icon%>"></i> <%=title%></a>
<%
    }
}

function photoOrVideoHeader(data, tp) {
    %>
<% if (data.video.includes('youtu')) {
 
        function getId(url) {
            const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
            const match = url.match(regExp);
        
            return (match && match[2].length === 11)
              ? match[2]
              : null;
        }
            
        const videoId = getId(data.video);
    
        %>
<div style="--aspect-ratio:1.77;">

    <iframe style="width: 100%; height: 100%;" src="//www.youtube.com/embed/<%=videoId%>" frameborder="0"
        allowfullscreen></iframe>
</div>
<% } else if (data.video.includes('vimeo')) { 
            var vimeoRegex = /(?:vimeo)\.com.*(?:videos|video|channels|)\/([\d]+)/i;
            var parsed = data.video.match(vimeoRegex)[1];
            %>

<div style="--aspect-ratio:1.77;">
    <iframe style="width: 100%; height: 100%;" src="//player.vimeo.com/video/<%=parsed%>" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<% } else { %>
<img src="<%= (data.thumbnail ? data.thumbnail : baseurl + '/images/types/' + tp +'.png')%>"
    style="object-fit: contain;"
    onerror="this.style.objectFit = 'contain'; this.src = '<%=baseurl%>/images/types/<%=tp %>.png'" class="thumbimage">
<% } %>
<%
}

function printProjectPresenters(data) {
    if (data.presenters) {
       let i = 0;
       data.presenters.forEach(presenter => {
           i++;
       if (presenter.address) {
           %>
<a href="<%=(presenter.address.includes('@') ? 'mailto:' : '')%><%=presenter.address%>">
   <%
       }
           %>
   <%=presenter.name%><%-(presenter.address ? '</a>' : '')%><%=(i != data.presenters.length ? ', ' : '')%>
   <%
       });
   } else {
       %>
   <%=data.owner.name%>
   <%
   }

   }

/* END HELPER FUNCTIONS */ 


switch (type) {
    case 'collections':
    /* COLLECTION MODAL */ 
%>
<div class="modalContainer collectionModal">
    <div id="modalInner">
        <div class="item-content">
                <div class="modalContent">
                    <div class="modalThumbnail">



                        <%
photoOrVideoHeader(data, 'collection');
                        %>

                    </div>
                    <div class="modalText">
                        <div class="title"><%=data.title%></div>
                        <div class="subtitle-h4og">from <%=data.organization%></div>
                        <div class="scrollable">

                            <div class="description">
                                <%-linkify(escape(data.description), {target: '_blank', rel: 'noopener'}).replaceAll('\n','<br>')%>
                            </div>
                            <!--                                     <div class="description">Access: <%=data.access%></div> -->
                        </div>
                    </div>
                    <div class="links">
                        <% if (data.copyright) { %>
                        <i class="fas fa-copyright"></i> <%=data.copyright%>
                        <br>
                        <% } %>
                        <!--                                 <% if (data.contact) { %>
                        <div class="description">Contact: <%=data.contact%></div>
                        <% } %> -->
                        <div class="linkGroup">
                            <% if (data.homepage) { %>
                            <a target="_blank" rel="noopener" href="<%=data.homepage%>"><i
                                    class="fas fa-globe-americas"></i>
                                Website</a>
                            <% } %>
                            <% if (data.codebase) { %>
                            <a target="_blank" rel="noopener" href="<%=data.codebase%>"><i class="fab fa-github"></i>
                                Dev</a>
                            <% } %>
                            <% if (data.api) { %>
                            <a target="_blank" rel="noopener" href="<%=data.api%>"><i class="fas fa-cogs"></i> API</a>
                            <% } %>
                            <% if (data.search) { %>
                            <a target="_blank" rel="noopener" href="<%=data.search%>"><i class="fas fa-search"></i>
                                Search</a>
                            <% } %>
                            <% if (data.help) { %>
                            <a target="_blank" rel="noopener" href="<%=data.help%>"><i class="fas fa-question"></i>
                                Help</a>
                            <% } %>
                            <% if (data.contact) { %>
                            <a target="_blank" rel="noopener" href="mailto:<%=data.contact%>"><i
                                    class="far fa-envelope"></i>
                                Contact</a>
                            <% } %>
                            <% if (data.slack) { %>
                            <a href="https://slack.com/app_redirect?team=T01AR9W40MC&channel=<%=data.slack%>" target="_blank"
                                rel="noopener"><i class="fab fa-slack"></i> Join!</a>
                            <% } %>

                        </div>

                    </div>
                </div>


        </div>
    </div>
</div>
<%
    break;
    case 'people':
    /* PERSON MODAL */
%>
<div class="modalContainer personModal">
    <div id="modalInner">
        <div class="item-content">
                <div class="modalContent">
                    <div class="modalThumbnail" style="text-align: center;">
                        <img class="avatar waterMask" src="<%=(data.picture ? data.picture : data.gravatar)%>"
                            onerror="this.src='<%=data.gravatar%>';this.onerror=() => {this.src = '<%=baseurl%>/images/types/person.png';};">
                    </div>
                    <div class="modalText">
                        <div class="title"><%=data.name%></div>

                        <% if (data.organization) { %>
                        <div class="subtitle-h4og">from <%=data.organization%></div>
                        <% } %>

                        <div class="scrollable">
                            <div class="description">
                                <%-linkify(escape(data.description), {target: '_blank', rel: 'noopener'}).replaceAll('\n','<br>')%>
                            </div>
                            <% if (data.interests) { %>
                            <div class="description b">Talk to me about:</div>
                            <div class="bigger">
                                <%-linkify(escape(data.interests), {target: '_blank', rel: 'noopener'}).replaceAll('\n','<br>')%>
                            </div>
                            <% } %>
                            <div class="tags">
                                <% if (data.type.length > 0) { data.type.split(', ').forEach(item => { %>
                                <div class="typeItem"><%= item %></div>
                                <% }); } %>
                                <% if (data.languages.length > 0) {data.languages.split(', ').forEach(item => { %>
                                <div class="languageItem"><%= item %></div>
                                <% }); } %>
                            </div>
                        </div>
                    </div>
                    <div class="links">
                        <i class="fas fa-clock"></i> <%=data.timezoneText%>
                        <br>
                        <div class="linkGroup">
                            <% printSocial(data.website, 'fas fa-globe-americas', 'Website') %>
                            <% printSocial(data.social.github, 'fab fa-github', 'GitHub') %>
                            <% printSocial(data.social.facebook, 'fab fa-facebook', 'Facebook') %>
                            <% printSocial(data.social.linkedin, 'fab fa-linkedin', 'LinkedIn') %>
                            <% printSocial(data.social.twitter, 'fab fa-twitter', 'Twitter') %>
                            <% printSocial(data.social.instagram, 'fab fa-instagram', 'Instagram') %>
                            <% printSocial(data.social.flickr, 'fab fa-flickr', 'Flickr') %>
                            <% printSocial(data.social.wikimedia, 'fab fa-wikipedia-w', 'Wikimedia') %>
                            <% printSocial(data.social.profile, 'fab fa-slack', 'Slack') %>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<%
    break;
    case 'projects':
    /* PROJECT MODAL */ 
    %>

<div class="modalContainer projectModal">
    <div id="modalInner">
        <div class="item-content">
                <div class="modalContent">
                    <div class="modalThumbnail">
                        <%
                            photoOrVideoHeader(data, 'project');
                                                    %>
                    </div>
                    <div class="modalText">
                            <div class="title"><%=data.title%></div>
                            <div class="subtitle-h4og">by <%
                                printProjectPresenters(data);
                            %></div>
                    

                        <div class="scrollable">
                            <div class="description">
                                <%-linkify(escape(data.description), {target: '_blank', rel: 'noopener'}).replaceAll('\n','<br>')%>
                            </div>
                        </div>
                    </div>
                    <div class="links">
                        <div class="linkGroup">
                                <% if (data.homepage) { %>
                                    <a target="_blank" rel="noopener" href="<%=data.homepage%>"><i class="fas fa-globe-americas"></i>
                                        Web</a>
                                    <% } %>
                                    <% if (data.codebase) { %>
                                    <a target="_blank" rel="noopener" href="<%=data.codebase%>"><i class="fab fa-github"></i>
                                        Code</a>
                                    <% } %>
                                    <% if (data.slack) { %>
                                    <a target="_blank" rel="noopener" href="https://slack.com/app_redirect?team=T01AR9W40MC&channel=<%=data.slack%>"><i class="fab fa-slack"></i>
                                        Join!</a>
                                    <% } %>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<%
        break;
        case 'workshops':
        %>


        <div class="modalContainer projectModal">
            <div id="modalInner">
                <div class="item-content">
                        <div class="modalContent">
                            <div class="modalThumbnail">
                                <%
                                    photoOrVideoHeader(data, 'project');
                                                            %>
                            </div>
                            <div class="modalText">
                                    <div class="title"><%=data.title%></div>
                                    <div class="subtitle-h4og">by <%
                                        printProjectPresenters(data);
                                    %></div>
                            
        
                                <div class="scrollable">
                                    <div class="description">
                                        <%-linkify(escape(data.description), {target: '_blank', rel: 'noopener'}).replaceAll('\n','<br>')%>
                                    </div>
                                    <% if (data.time) { %>
                                        <div class="ws">
                                            <div class="date">Join the workshop on Monday 19 October</div>
                                            <div class="time"><%=data.time%>:00 UTC</div>
<!--                                                     <div class="ws-link">Join the workshop</div> -->
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="links">
                                <div class="linkGroup">
                                        <% if (data.homepage) { %>
                                            <a target="_blank" rel="noopener" href="<%=data.homepage%>" target="_blank"><i class="fas fa-globe-americas"></i>
                                                Web</a>
                                            <% } %>
                                            <% if (data.codebase) { %>
                                            <a target="_blank" rel="noopener" href="<%=data.codebase%>" target="_blank"><i class="fab fa-github"></i>
                                                Code</a>
                                            <% } %>
                                            <% if (data.slack) { %>
                                            <a target="_blank" rel="noopener" href="https://slack.com/app_redirect?team=T01AR9W40MC&channel=<%=data.slack%>" target="_blank"><i class="fab fa-slack"></i>
                                                Join channel!</a>
                                            <% } %>
                                            <% if (data.sched) { %>
                                                <a href="<%=data.sched%>" rel="noopener" target="_blank"><i class="fas fa-sign-in-alt"></i> Join workshop!</a>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <%
            break;
        default:
%>
Error
<%
    break;
}

%>