<%

switch (type) {
    case 'collections':
    /* COLLECTION MODAL */ 
%>
<div class="modalContainer collectionModal">
    <div id="modalInner">
        <div class="item-content">
            <div>
                <div class="modalContent">
                    <div class="modalThumbnail">
                            <img src="<%= (data.thumbnail ? data.thumbnail : baseurl + '/images/types/collection.png')%>"
                            style="object-fit: <%= (data.thumbnail ? 'contain' : 'cover') %>;"
                            onerror="this.style.objectFit = 'cover'; this.src = '<%=baseurl%>/images/types/collection.png'"
                            class="thumbimage">
                    </div>
                    <div class="modalText">
                        <div class="title"><%=data.title%></div>
                        <div class="subtitle-h4og">from <%=data.organization%></div>
                        <div class="scrollable">
                            <div class="description"><%-linkify(escape(data.description), {target: '_blank'}).replaceAll('\n','<br>')%></div>
                            <!--                                     <div class="description">Access: <%=data.access%></div> -->
                        </div>
                    </div>
                    <div class="links">
                        <% if (data.copyright) { %>
                            <i class="fas fa-copyright"></i> <%=data.copyright%>
                        <br>
                        <% } %>
                        <!--                                 <% if (data.contact) { %>
                        <div class="description">Contact: <%=data.contact%></div>
                        <% } %> -->
                        <div class="linkGroup">
                                <% if (data.homepage) { %>
                                    <a href="<%=data.homepage%>"><i class="fas fa-globe-americas"></i>
                                        Website</a>
                                    <% } %>
                                    <% if (data.codebase) { %>
                                    <a href="<%=data.codebase%>"><i class="fab fa-github"></i>
                                        Dev</a>
                                    <% } %>
                                    <% if (data.api) { %>
                                    <a href="<%=data.api%>"><i class="fas fa-cogs"></i> API</a>
                                    <% } %>
                                    <% if (data.search) { %>
                                    <a href="<%=data.search%>"><i class="fas fa-search"></i> Search</a>
                                    <% } %>
                                    <% if (data.help) { %>
                                    <a href="<%=data.help%>"><i class="fas fa-question"></i> Help</a>
                                    <% } %>
                                    <% if (data.contact) { %>
                                    <a href="mailto:<%=data.contact%>"><i class="far fa-envelope"></i>
                                        Contact</a>
                                    <% } %>
            
                        </div>
                        
                    </div>
                    </div>
             
            </div>

        </div>
    </div>
</div>
<%
    break;
    case 'people':
    /* PERSON MODAL */
%>
<div class="modalContainer personModal">
    <div id="modalInner">
        <img class="avatar waterMask" src="<%=(data.picture ? data.picture : data.gravatar)%>"
            onerror="this.src='<%=data.gravatar%>';this.onerror=() => {this.src = '<%=baseurl%>/images/types/person.png';};">
        <div class="modalContent">
            <div class="title"><%=data.name%></div>
        </div>
    </div>
</div>

<%
    break;
    case 'projects':
    /* PROJECT MODAL */ 
    %>

<%
        break;
    default:
%>
Error
<%
    break;
}

%>