<%
/* HELPER FUNCTIONS */

function printSocial(social, icon) {
    if (social) { 
        %>
<a href="<%=social%>" target="_blank"><i class="<%=icon%>"></i></a>
<%
    }
}

function caculateCardLengthPoints(card) {
    return card.organization.length + card.description.length + (card.skillsAndInterests.length * 1.7) + (card.languages.length * 1.7);
}
%>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/haltu/muuri@0.9.3/dist/muuri.min.js"></script>
    <script src="https://kit.fontawesome.com/df830c3146.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

    <title>Hack4OpenGlam Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="grid">
        <% /* PERSON CARD */ for (let person in data.people) { 
            if (data.people[person].name.length > 0) { // caculateCardLengthPoints(data.people[person]) < 210
            %>
        <div class="item person" style="--aspect-ratio:2;" data-index="<%= data.people[person].index %>">
            <div class="item-content">
                <table style="width: 100%; height: 100%;">
                    <tr>
                        <td rowspan="3">
                            <img class="avatar waterMask"
                                src="<%=(data.people[person].picture ? data.people[person].picture : data.people[person].gravatar)%>"
                                onerror="this.src='<%=data.people[person].gravatar%>';this.onerror=() => {setDefaultAvatar(this)};">
                        </td>
                        <td style="padding-top:15px;" valign="top"><span
                                class="title"><%=data.people[person].name%></span>
                            <span
                                class="subtitle"><%=(data.people[person].organization ? 'from ' + data.people[person].organization : ' ')%>&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <span
                                class="description"><%=data.people[person].description.substr(0, 79)%><% if (data.people[person].description.length > 80) { %><a
                                    href="#" class="truncated">...</a><% } %></span>


                            <% if (data.people[person].type.length > 0) { data.people[person].type.split(', ').forEach(item => { %>
                            <span class="typeItem"><%= item %></span>
                            <% }); } %>
                            <% if (data.people[person].languages.length > 0) {data.people[person].languages.split(', ').forEach(item => { %>
                            <span class="languageItem"><%= item %></span>
                            <% }); } %>
                        </td>
                    </tr>
                    <tr>
                        <td valign="bottom" class="sl">

                            <% printSocial(data.people[person].website, 'fas fa-globe-americas') %>
                            <% printSocial(data.people[person].social.github, 'fab fa-github') %>
                            <% printSocial(data.people[person].social.facebook, 'fab fa-facebook') %>
                            <% printSocial(data.people[person].social.linkedin, 'fab fa-linkedin') %>
                            <% printSocial(data.people[person].social.twitter, 'fab fa-twitter') %>
                            <% printSocial(data.people[person].social.instagram, 'fab fa-instagram') %>
                            <% printSocial(data.people[person].social.flickr, 'fab fa-flickr') %>
                            <% printSocial(data.people[person].social.wikimedia, 'fab fa-wikipedia-w') %>

                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <% } 
    }
    %>

        <% /* PROJECT CARD */ for (let project in data.projects) { %> %>
        <div class="item project" style="--aspect-ratio:0.5;" data-index="<%=data.projects[project].index%>">
            <div class="item-content">
                <table style="height: 100%;">
                    <tr>
                        <td>
                            <img src="/images/types/project.png" style="width: 100%;">
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 100%; vertical-align: top; padding: 25px;">
                            <span class="title"><%=data.projects[project].title%></span>
                            <span class="subtitle">by <%=data.projects[project].owner.name%></span>
                            <span class="description">
                                <%=data.projects[project].description.substr(0, 129)%><% if (data.projects[project].description.length > 130) { %><a
                                    href="#" class="truncated">...</a><% } %></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px;">
                            <% if (data.projects[project].homepage) { %>
                            <a href="<%=data.projects[project].homepage%>"><i class="fas fa-globe-americas"></i>
                                Website</a>
                            <% } %>
                            <% if (data.projects[project].codebase) { %>
                            <a href="<%=data.projects[project].codebase%>"><i class="fab fa-github"></i> GitHub</a>
                            <% } %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <% } %>

        <% /* COLLECTION CARD */ for (let collection in data.collections) { %> %>
        <div class="item collection" style="--aspect-ratio:1;" data-index="<%=data.collections[collection].index%>">
            <div class="item-content">
                <!-- <span class="title"><%=data.collections[collection].title%></span>
                <span class="subtitle">by <%=data.collections[collection].owner.name%></span>
               -->
                <table style="height: 100%; width: 100%;">
                    <tr>
                        <td style="text-align: center;">
                            <img src="/images/types/collection.png" height="140">
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 100%; vertical-align: top; padding: 25px;">
                            <span class="title"> <%=data.collections[collection].title%></span>
                            <span class="subtitle">by <%=data.collections[collection].owner.name%>

                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px;">

                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <% } %>
    </div>


    <script>
        var grid = new Muuri('.grid', {
            //dragEnabled: true,
            sortData: {
                foo: function (item, element) {
                    return 10000 - (parseInt(element.getAttribute('data-index')) + 1);
                }
            },
            layout: {
                fillGaps: true
            }
        });
        grid.refreshSortData();
        grid.sort('foo');

        function setDefaultAvatar(el) {
            el.src = '/images/types/person.png';
            // el.classList = 'avatar'; //looks more consistent, if we keep everything masked
        }
    </script>
</body>

</html>