<%
/* HELPER FUNCTIONS */

function printSocial(social, icon) {
    if (social) { 
        %>
<a href="<%=social%>" target="_blank"><i class="<%=icon%>"></i></a>
<%
    }
}

function caculateCardLengthPoints(card) {
    return card.organization.length + card.description.length + (card.skillsAndInterests.length * 1.7) + (card.languages.length * 1.7);
}
%>
<html>

<head>
    <script src="<%=baseurl%>/iframeResizer.contentWindow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/haltu/muuri@0.9.3/dist/muuri.min.js"></script>
    <script src="https://kit.fontawesome.com/df830c3146.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%=baseurl%>/main.css">
    <script src="<%=baseurl%>/script.js"></script>

    <title>Hack4OpenGlam Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="filters">
        <div class="typeFilter filter">
            <h2>View</h2>
            <ul>
                <li>
                    <input type='radio' name="typeFilterRadio" id="radio1" value="collection" />
                    <label for='radio1'>
                        <img src="<%=baseurl%>/images/typeFilter/collection.png">
                        <span>Collections</span>
                    </label>
                </li>
                <li>
                    <input type='radio' name="typeFilterRadio" id="radio2" value="person" />
                    <label for='radio2'>
                        <img src="<%=baseurl%>/images/typeFilter/person.png">
                        <span>People</span>
                    </label>
                </li>
                <li>
                    <input type='radio' name="typeFilterRadio" id="radio3" value="project" />
                    <label for='radio3'>
                        <img src="<%=baseurl%>/images/typeFilter/project.png">
                        <span>Projects</span>
                    </label>
                </li>
            </ul>
        </div>

        <div class="timezoneFilter filter">
            <h2>Timezone</h2>
            <%- include('timezoneMap.ejs'); -%>
        </div>
        <div class="languageFilter filter">
            <h2>Language</h2>
            <% if (data.meta.languages.length > 0) { data.meta.languages.forEach(item => { %>
            <span class="languageItem"><%= item %></span>
            <% }); } %>
        </div>
        <div class="describeFilter filter">
            <h2>Type</h2>
            <% if (data.meta.types.length > 0) { data.meta.types.forEach(item => { %>
            <span class="typeItem"><%= item %></span>
            <% }); } %>
        </div>
    </div>
    <div class="grid">
        <% /* PERSON CARD */ for (let person in data.people) { 
            if (data.people[person].name.length > 0) { // caculateCardLengthPoints(data.people[person]) < 210
            %>
        <div class="item person" style="--aspect-ratio:2;" data-index="<%= data.people[person].index %>"
            data-timezone="<%= data.people[person].timezone %>" data-languages="<%=data.people[person].languages%>"
            data-types="<%=data.people[person].type%>">
            <div class="item-content">
                <div class="h-box">
                    <div class="imagebox">
                    <img class="avatar waterMask" src="<%=(data.people[person].picture ? data.people[person].picture : data.people[person].gravatar)%>" onerror="this.src='<%=data.people[person].gravatar%>';this.onerror=() => {setDefaultAvatar(this)};">
                    </div>
                    <div class="infobox">
                        <div>
                            <div class="title"><%=data.people[person].name%></div>
                                <% if (data.people[person].organization) { %>
                                <div class="subtitle">from <%=data.people[person].organization%></div>
                                <% } %>
                                <div class="scrollable">
                                <div class="description"><%=data.people[person].description%></div>
                                <div class="tags">
                                <% if (data.people[person].type.length > 0) { data.people[person].type.split(', ').forEach(item => { %>
                                    <div class="typeItem"><%= item %></div>
                                    <% }); } %>
                                    <% if (data.people[person].languages.length > 0) {data.people[person].languages.split(', ').forEach(item => { %>
                                    <div class="languageItem"><%= item %></div>
                                    <% }); } %>
                                </div>
                                </div>
                            </div>
                            <div>
                                <div class="sl">
                                    <% printSocial(data.people[person].website, 'fas fa-globe-americas') %>
                                    <% printSocial(data.people[person].social.github, 'fab fa-github') %>
                                    <% printSocial(data.people[person].social.facebook, 'fab fa-facebook') %>
                                    <% printSocial(data.people[person].social.linkedin, 'fab fa-linkedin') %>
                                    <% printSocial(data.people[person].social.twitter, 'fab fa-twitter') %>
                                    <% printSocial(data.people[person].social.instagram, 'fab fa-instagram') %>
                                    <% printSocial(data.people[person].social.flickr, 'fab fa-flickr') %>
                                    <% printSocial(data.people[person].social.wikimedia, 'fab fa-wikipedia-w') %>
                                </div>
                            </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <% } 
    }
    %>

        <% /* PROJECT CARD */ for (let project in data.projects) { %> %>
            <% if (data.projects[project].description.length > 250) { %>
                <div class="item project square" style="--aspect-ratio:1;" data-index="<%=data.projects[project].index%>">
            <% } else { %>
                <div class="item project vertical" style="--aspect-ratio:0.5;" data-index="<%=data.projects[project].index%>">
            <% } %>
            <div class="item-content">
                <div>
                    <img src="<%=baseurl%>/images/types/project.png" class="thumbimage">
                    <div>
                        <div class="v-box">
                            <div class="upper">
                                <div class="title"><%=data.projects[project].title%></div>
                                <div class="subtitle">by <%=data.projects[project].owner.name%></div>
                                <div class="description scrollable"><%=data.projects[project].description%></div>
                            </div>
                            <div class="links">
                                <% if (data.projects[project].homepage) { %>
                                <a href="<%=data.projects[project].homepage%>"><i class="fas fa-globe-americas"></i>
                                    Website</a>
                                <% } %>
                                <% if (data.projects[project].codebase) { %>
                                <a href="<%=data.projects[project].codebase%>"><i class="fab fa-github"></i> GitHub</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <% /* COLLECTION CARD */ for (let collection in data.collections) { %> %>
        <div class="item collection" style="--aspect-ratio:1;" data-index="<%=data.collections[collection].index%>">
            <div class="item-content">
                <!-- <span class="title"><%=data.collections[collection].title%></span>
                <span class="subtitle">by <%=data.collections[collection].owner.name%></span>
               -->
                <div>
                    <div>
                            <div class="itemThumbnail" style="background-image:url('<%=(data.collections[collection].thumbnail ? data.collections[collection].thumbnail : baseurl + '/images/types/collection.png')%>');" ></div>
                          
                    </div>


                    <div class="v-box">
                        <div class="upper">
                        <div class="title"><%=data.collections[collection].title%></div>
                        <div class="subtitle">from <%=data.collections[collection].organization%></div>
                        <div class="scrollable">
                            <div class="description"><%=data.collections[collection].description%></div>
                            <div class="description">Access: <%=data.collections[collection].access%></div>
                        </div>
                    </div>
                        <div class="links">
                            <div class="description">Contact: <%=data.collections[collection].contact%></div>
                            <% if (data.collections[collection].homepage) { %>
                            <a href="<%=data.collections[collection].homepage%>"><i class="fas fa-globe-americas"></i>
                                Website</a>
                            <% } %>
                            <% if (data.collections[collection].codebase) { %>
                            <a href="<%=data.collections[collection].codebase%>"><i class="fab fa-github"></i> GitHub</a>
                            <% } %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <% } %>
    </div>

</body>

</html>