<%
/* HELPER FUNCTIONS */

function printSocial(social, icon) {
    if (social) { 
        %>
<a href="<%=social%>" target="_blank"><i class="<%=icon%>"></i></a>
<%
    }
}

function caculateCardLengthPoints(card) {
    return card.organization.length + card.description.length + (card.skillsAndInterests.length * 1.7) + (card.languages.length * 1.7);
}
%>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/haltu/muuri@0.9.3/dist/muuri.min.js"></script>
    <script src="https://kit.fontawesome.com/df830c3146.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

    <title>Hack4OpenGlam Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="filters">
        <div class="typeFilter">
            <h2>View</h2>
            <ul>
                <li>
                    <input type='radio' name="typeFilterRadio" id="radio1" value=".collection" />
                    <label for='radio1'>
                        <img src="/images/typeFilter/collection.png">
                        <span>Collections</span>
                    </label>
                </li>
                <li>
                    <input type='radio' name="typeFilterRadio" id="radio2" value=".person" />
                    <label for='radio2'>
                        <img src="/images/typeFilter/person.png">
                        <span>People</span>
                    </label>
                </li>
                <li>
                    <input type='radio' name="typeFilterRadio" id="radio3" value=".project" />
                    <label for='radio3'>
                        <img src="/images/typeFilter/project.png">
                        <span>Projects</span>
                    </label>
                </li>
            </ul>
        </div>

        <div class="timezoneFilter">
            <h2>Timezone</h2>
            <%- include('timezoneMap.ejs'); -%>
        </div>

    </div>
    <script>
        var radios = document.getElementsByName('typeFilterRadio');
        var timezones = document.getElementsByClassName('timezoneArea');
        for (var i = 0, max = radios.length; i < max; i++) {
            radios[i].onclick = selectTypeFilter;
        }
        for (var i = 0, max = timezones.length; i < max; i++) {
            timezones[i].onclick = selectTimezoneFilter;
        }
        let selectedType;

        function selectTypeFilter(e) {
            if (e.target.checked) {
                if (selectedType != e.target.value) {
                    //console.log(e.target.value);
                    //grid.filter(e.target.value);
                    selectedType = e.target.value;
                } else {
                    console.log('Uncheck');
                    //grid.filter('*');
                    selectedType = undefined;
                    e.target.checked = false;
                }
                if (selectedType != '.person') {
                    
                    for (var i = 0, max = timezones.length; i < max; i++) {
                        timezones[i].classList.remove('activeTimezone');
                    }
                    timezoneMapEl.classList.remove('activeMap');
                    selectedTimezone = undefined;
                }
                updateFilter();
            }
        }

        let selectedTimezone;
        const timezoneMapEl = document.getElementById('timezoneMap');

        function selectTimezoneFilter(e) {
            if (selectedType == '.person') {
                for (var i = 0, max = timezones.length; i < max; i++) {
                    timezones[i].classList.remove('activeTimezone');
                }
                if (selectedTimezone != e.target.parentElement.dataset.timezone) {
                    timezoneMapEl.classList.add('activeMap');
                    let target = e.target.parentElement;
                    selectedTimezone = target.dataset.timezone;
                    target.classList.add('activeTimezone');
                    //grid.filter('[data-timezone="' + target.dataset.timezone + '"]');
                } else {
                    timezoneMapEl.classList.remove('activeMap');
                    selectedTimezone = undefined;
                    //grid.filter('*');
                }
                updateFilter();
            }
        }
        function updateFilter() {
            let filter = (selectedType ? selectedType : '') + (selectedTimezone ? '[data-timezone="' + selectedTimezone + '"]' : '');
            filter = (filter ? filter : '*');
            console.log('Apply filter ' + filter);
            grid.filter(filter);
        }
    </script>
    <div class="grid">
        <% /* PERSON CARD */ for (let person in data.people) { 
            if (data.people[person].name.length > 0) { // caculateCardLengthPoints(data.people[person]) < 210
            %>
        <div class="item person" style="--aspect-ratio:2;" data-index="<%= data.people[person].index %>"
            data-timezone="<%= data.people[person].timezone %>">
            <div class="item-content">
                <div class="h-box">
                    <div class="imagebox">
                    <img class="avatar waterMask" src="<%=(data.people[person].picture ? data.people[person].picture : data.people[person].gravatar)%>" onerror="this.src='<%=data.people[person].gravatar%>';this.onerror=() => {setDefaultAvatar(this)};">
                    </div>
                    <div class="infobox">
                    <div class="title"><%=data.people[person].name%></div>
                    <div class="subtitle"><%=(data.people[person].organization ? 'from ' + data.people[person].organization : ' ')%>&nbsp;</div>
                            <div class="description"><%=data.people[person].description.substr(0, 79)%><% if (data.people[person].description.length > 80) { %><a href="#" class="truncated">...</a><% } %></div>
                            <div class="tags">
                            <% if (data.people[person].type.length > 0) { data.people[person].type.split(', ').forEach(item => { %>

                                <div class="typeItem"><%= item %></div>
                            <% }); } %>
                            <% if (data.people[person].languages.length > 0) {data.people[person].languages.split(', ').forEach(item => { %>
                            <div class="languageItem"><%= item %></div>
                            <% }); } %>
                        </div>
                        <div class="sl">
                            <% printSocial(data.people[person].website, 'fas fa-globe-americas') %>
                            <% printSocial(data.people[person].social.github, 'fab fa-github') %>
                            <% printSocial(data.people[person].social.facebook, 'fab fa-facebook') %>
                            <% printSocial(data.people[person].social.linkedin, 'fab fa-linkedin') %>
                            <% printSocial(data.people[person].social.twitter, 'fab fa-twitter') %>
                            <% printSocial(data.people[person].social.instagram, 'fab fa-instagram') %>
                            <% printSocial(data.people[person].social.flickr, 'fab fa-flickr') %>
                            <% printSocial(data.people[person].social.wikimedia, 'fab fa-wikipedia-w') %>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <% } 
    }
    %>

        <% /* PROJECT CARD */ for (let project in data.projects) { %> %>
        <div class="item project" style="--aspect-ratio:0.5;" data-index="<%=data.projects[project].index%>">
            <div class="item-content">
                <div style="height: 100%;">
                    <div>
                        <div>
                            <img src="/images/types/project.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="v-box">
                            <div class="title"><%=data.projects[project].title%></div>
                            <div class="subtitle">by <%=data.projects[project].owner.name%></div>
                            <div class="description">
                                <%=data.projects[project].description.substr(0, 129)%><% if (data.projects[project].description.length > 130) { %><a
                                    href="#" class="truncated">...</a><% } %></div>
                        </div>
                    </div>
                    <div>
                        <div style="padding: 20px;">
                            <% if (data.projects[project].homepage) { %>
                            <a href="<%=data.projects[project].homepage%>"><i class="fas fa-globe-americas"></i>
                                Website</a>
                            <% } %>
                            <% if (data.projects[project].codebase) { %>
                            <a href="<%=data.projects[project].codebase%>"><i class="fab fa-github"></i> GitHub</a>
                            <% } %>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <% } %>

        <% /* COLLECTION CARD */ for (let collection in data.collections) { %> %>
        <div class="item collection" style="--aspect-ratio:1;" data-index="<%=data.collections[collection].index%>">
            <div class="item-content">
                <!-- <span class="title"><%=data.collections[collection].title%></span>
                <span class="subtitle">by <%=data.collections[collection].owner.name%></span>
               -->
                <div style="height: 100%; width: 100%;">
                    <div>
                        <div style="text-align: center;">
                            <img src="/images/types/collection.png" height="140">
                        </div>
                    </div>
                    <div>
                        <div style="height: 100%; vertical-align: top; padding: 25px;">
                            <span class="title"> <%=data.collections[collection].title%></span>
                            <span class="subtitle">from <%=data.collections[collection].organization%></span>

                        </div>
                    </div>
                    <div>
                        <div style="padding: 20px;">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <% } %>
    </div>


    <script>
        var grid = new Muuri('.grid', {
            //dragEnabled: true,
            sortData: {
                foo: function (item, element) {
                    return 10000 - (parseInt(element.getAttribute('data-index')) + 1);
                }
            },
            layout: {
                fillGaps: true
            }
        });
        grid.refreshSortData();
        grid.sort('foo');

        function setDefaultAvatar(el) {
            el.src = '/images/types/person.png';
            // el.classList = 'avatar'; //looks more consistent, if we keep everything masked
        }
    </script>
</body>

</html>